@model MVC.Models.CountryCreationDto

@{
    ViewData["Title"] = "PostCountry";
}
<link rel="stylesheet" href="~/css/admin.css" />

<div class="container">
    <h2>Create Country</h2>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="PostCountry">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-2 mt-2">                 
                    <input asp-for="Name" class="form-control" placeholder="Name" id="countryName"/>
                    <label asp-for="Name"></label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>              
                <div class="inner">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                <div class="inner">
                    <a asp-action="Index" class="btn btn-secondary me-1 ms-1">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/js/site.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
